<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap modal</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <h1>Bootstrap-modal</h1>
        </div>
        <div class="row">
            <div class="mt-5">
                <p>
                    Ouverture d'une modal bootstrap, puis ouverture d'une seconde à partir de la première modal :
                </p>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-1">
                    Launch demo modal
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h6>Connexion</h6>

                    <form id="form-connection" data-action="{{ path('login') }}">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" />
                        </div>
                        <button type="submit" class="btn btn-primary">login</button>
                    </form>

                    <a id="call-modal-2" href="#" data-toggle="modal" data-target="#modal-2">Récupérer mon mot de passe</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="modal-2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h6>Mot de passe oublié</h6>
                    <div id="alert-lost-password"></div>
                    <form id="lost-password" data-action="{{ path('lost-password') }}">
                        <div class="form-group">
                            <label for="email">Adresse email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary">Récupérer son mot de passe</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="node_modules/jquery/dist/jquery.slim.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>